<div class="feed-selector">
    <div class="feed-selector__container">
        <div class="feed-selector__title">Feed</div>
        <div class="feed-selector__options-container">
            <div class="feed-selector__options-item-container">
                <a class="feed-selector__options-item-active">Templates</a>
            </div>
            <div class="feed-selector__options-item-container"><a class="feed-selector__options-item" href="{{ url_for('home.home', feed='recent') }}">Recent</a></div>
            <div class="feed-selector__options-item-container"><a class="feed-selector__options-item" href="{{ url_for('home.home', feed='following') }}">Following</a></div>
        </div>
    </div>
</div>

<main class="main">
    <section class="story">
        {% if stories %}
            {% for story in stories %}
                <div>
                    <div class="story__user-container">
                        <div class="story__user-img-container">
                            <img src="/static/img/logo.png" alt="Profile picture" class="story__user-img">
                        </div> 
                        <div class="story__user-info-container">
                            <div class="story__user-comment cur-def">Starting template {{ story["num"] }}: AI generated</div>
                            <div class="story__username cur-pnt""> <span class="lower"><b>@</span><span class="admin">Storymous</span></b></div>
                        </div>
                    </div>
                <a href="{{ url_for('posts.post', post_id=story['_id']) }}" style="color: inherit; text-decoration: none;">
                    <article class="story__article">    
                        <div class="story__upper">
                            <div class="story__title-container">
                                <h2 class="story__title"> {{ story["title"] }} </h2>
                            </div>
                            <!--<time class="story__date" datetime="21-04-2023"> {{ story["date"] }} </time>-->
                        </div>
                        <p class="story__content">
                            {{ story["content"] }}
                        </p>
                    </article>
                </a>
            </div>
            {% endfor %}
        {% endif %}
    </section>
    {% if more_posts %}
    <a href="{{ url_for('posts.newstory')}}" style="text-decoration: none;"><div class="load-button">Load more</div></a>
    {% endif %}
</main>