body {
    font-family: 'IBM Plex Mono', monospace;
    color: aliceblue;
    background: #445061;
}

.base {
    max-width: 900px;
    padding: 0px 0;
    margin: 0 auto;
}

/* --------- Navbar ---------- */

.navbar {
    max-width: 800px;
    margin: 50px auto;
    padding: 15px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    border: 3px dashed #313d4d;
}

.navbar__logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: default;
    color: rgb(0, 255, 234);
}

.navbar__navigation {
    display: flex;
    padding: 0;
    list-style: none;
    color: beige;
    margin-right: 5px;
}

.navbar__name {
    margin-right: 20px;
}

.navbar__navigation-item {
    margin-left: 30px;
    color: inherit;
}

.navbar__link {
    text-decoration: none;
    color:rgb(228, 252, 255);
    transition: all 0s;
}

.navbar__link:hover {
    color:rgb(255, 220, 64);
    text-decoration: underline;
}

/* ---------- Main ----------- */

.main {
    max-width: 550px;
    display: flex;
    flex-direction: row;
    margin: 50px auto;
    justify-content: space-between;
    padding: 10px;
}

.randomstory {
    flex-grow: 1;
}

.randomstory__content {
    text-align: justify;
}

.randomstory__upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.randomstory__date {
    margin-top: 5px;
    margin-left: 20px;
}

.randomstory__time {
    display: flex;
    font-size: large;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 15px;
}

.randomstory__remaining-time {
    padding: 5px 10px;
    background-color: bisque;
    color: #313d4d;
    border-radius: 5px;
}



/* ---------- 404 ---------- */

.error{
    max-width: 200px;
    margin: 100px auto;
    padding: 10px 2px;
    color: aliceblue;
    background-color: rgb(147, 48, 204);
    display: flex;
    justify-content: center;
    font-size: xx-large;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(39, 39, 39);
}