body {
    font-family: 'IBM Plex Mono', monospace;
    color: aliceblue;
    height: 100%;
}


/* For webkit-based browsers */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #2d3541;
}

::-webkit-scrollbar-thumb {
    background-color: #54585e;
}

.scrollbar {
    background: #384250;
}


.base {
    max-width: 900px;
    padding: 5px 0 0 0;
    margin: 0 auto;
    z-index: 10;
    background-color: #445061;
    box-shadow: 0 0 10px 0 #384250;
}

.base__aligner {
    margin: 0 5px;
}

/* --------- Navbar ---------- */

.navbar {
    max-width: 800px;
    margin: 20px auto 30px auto;
    padding: 15px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    border: 3px dashed #313d4d;
}

.navbar__page {
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: default;
    color: rgb(0, 255, 234);
}

.navbar__title {
    font-size: 28px;
}

.navbar__subtitle {
    display: flex;
    font-size: 14px;
    color: aliceblue;
}

.navbar__navigation {
    display: flex;
    padding: 0;
    list-style: none;
    color: beige;
    margin-right: 5px;
}

.navbar__img {
    margin-right: 15px;
}

.navbar__navigation-item {
    margin-left: 30px;
    color: inherit;
}

.navbar__link {
    text-decoration: none;
    color:rgb(228, 252, 255);
    transition: all 0s;
}

.navbar__link:hover {
    color:rgb(255, 220, 64);
    text-decoration: underline;
}

@media screen and (max-width: 660px) {
    .navbar {
        flex-direction: column;
        margin: 0px auto 10px auto;
    }
    .navbar__page {
        justify-content: center;
    }
    .navbar__navigation {
        justify-content: center;
        margin-bottom: 5px;
    }
    .navbar__navigation-item {
        margin: 0 auto;
    }
  }


/* ---------- Introduction ----------- */

.introduction {
    margin: 30px 10px 0 10px;
}

.introduction__box {
    max-width: 675px;
    margin: 0 auto;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.introduction__text-box {
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: #374250;
    margin: 20px auto;
    padding: 5px 0 10px 0;
    font-size: large;
    border: 1px solid rgba(245, 245, 245, 0.329);
    border-radius: 10px;
}

.introduction__text-box-bis {
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: #374250;
    margin: 20px auto;
    padding: 5px 0 10px 0;
    font-size: large;
    border: 1px solid rgba(245, 245, 245, 0.329);
    border-radius: 10px;
}

.introduction__text-box-bis:hover {
    border: 1px solid rgba(245, 245, 245, 0.87);
    background-color: #303842;
}

.edit-profile {
    padding: 5px 30px;
    background-color: whitesmoke;
    color: #000000;
    margin-top: 20px;
    border-radius: 15px;
    font-weight: bold;
    font-size: medium;
}
.edit-profile:hover {

    background-color: rgb(206, 206, 206);
}

.introduction__profile-stats {
    margin: 10px 10px 10px 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.stats__title {
    justify-self: flex-start;
}

.profile__stats-section {
    margin: 15px 0;
}

.stats__account-title {
    margin: 5px 0 5px 0;
}

.stats__account-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 0 0 0;
}

.container3 {
    align-items: flex-end;
    margin: 0 0 0 10px;
}

.spacer3 {
    padding: 20px 5px;
}

.spacer4 {
    padding: 20px 5px;
}

.spacer5 {
    padding: 0px 10px;
}

.stats__part1 {
    margin: 5px 0 0 0;
}

.stats__part2 {
    margin: 4px 0 0 0;
    text-align: center;
}

.introduction__text-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 10px 10px 10px;
    max-width: fit-content;
    max-height: fit-content;
    align-items: center;
}

.introduction__text-text {
    margin: 0 10px;
    padding: 0 25px;
}

.introduction__text-stats-title {
    text-align: center;
    font-weight:1000;
    color: #000000;
    margin-bottom: 2px;
    background-color: rgb(253 134 19);
    border-radius: 10px;
    padding: 4px 10px 4px 10px;
}


.introduction__options-container {
    margin: 8px 0 0 0;
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.introduction__options-profile {
    padding: 5px 2px;
    border-radius: 5px;
    background-color: white;
    color: #000000;
    text-decoration: none;

}

.introduction__text-stats-img {
    margin: 5px 0px 0 0px;
    height: 250px;
    border-radius: 100%;
    border: 3px solid whitesmoke;
}



.introduction__text-2 {
    font-size: large;
    justify-content: center;
    margin-left: 10px;
    padding-right: 10px;
}

.introduction__signin {
    color: greenyellow;
    text-decoration: none;
}

.introduction__signin:hover {
    text-decoration: underline;
    color: rgb(136, 202, 36);
}

.introduction__user {
    color: rgb(46, 207, 94);
    word-break: break-all;
}

.introduction__user-title {
    color: rgb(0, 255, 234);
}

.introduction__about {
    text-decoration: none;
    color: orange;
}

.introduction__about:hover {
    color: rgb(223, 145, 0);
}

@media screen and (max-width: 695px) {
    .introduction{
        margin: 0px auto 30px auto;
        max-width: 400px;
    }

    .introduction__box {
        flex-direction: column;
        margin: 0 auto;
        max-height: 1000px;
    }
    
    .introduction__text-box {
        margin-top: 25px;
        padding: 10px 0;
        flex-direction: column;
        max-width: fit-content;
    }

    .introduction__text-stats {
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 0;
        margin: auto auto;
        max-width: 350px;
    }

    .introduction__text-stats-title-container {
        display: flex;
        justify-content: center;
        max-width: 90%;
    }

    .introduction__text-stats-title {
        font-size: 27px;
        width: auto;
        box-sizing: border-box;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .introduction__text-stats-text {
        margin-top: 15px;
    }

    .introduction__text-stats-img {
        border-radius: 100%;
        max-width: 90%;
        height: auto;
    }
    .introduction__profile-stats {
        width: auto;
    }
  }

@media screen and (max-width: 450px) {
    .introduction__text-stats-title {
        font-size: 6vw;
    }
        
}

@media screen and (max-width: 440px) {
    .introduction{
        margin: 10px 10px 30px 10px;
        max-width: 400px;
    }

    .introduction__text-stats {
        margin: auto auto;
    }

}

/* ---------- Feed-selector ------------*/

.signup-buttons {
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 10px 25px;
    margin: auto auto;
}

.login-home{
    padding: 5px 30px;
    background-color: whitesmoke;
    color: #ffffff;
    border-radius: 15px;
    font-weight: bold;
    font-size: medium;
    max-width: 70px;
    margin: auto;
    background-color: rgb(37, 204, 37);
}

.login-home:hover {
    background-color: rgb(24, 136, 24);
}

.register-home {
    padding: 5px 30px;
    background-color: whitesmoke;
    color: #ffffff;
    border-radius: 15px;
    font-weight: bold;
    font-size: medium;
    max-width: 70px;
    margin: auto;
    background-color: rgb(0, 124, 240);
}

.register-home:hover {
    background-color: rgb(0, 83, 161);
}

.introduction__box-2 {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: #374250;
    margin: 20px auto;
    padding: 5px 0 10px 0;
    font-size: large;
    border: 1px solid rgba(245, 245, 245, 0.329);
    border-radius: 10px;
}

.logout-button {
    padding: 5px 30px;
    background-color: whitesmoke;
    color: #ffffff;
    border-radius: 15px;
    font-weight: bold;
    font-size: medium;
    max-width: 70px;
    margin: auto;
    background-color: rgb(224, 20, 20);
}

.story__user-comment-container {
    max-width: fit-content;
    word-wrap: break-word;
}

.story__user-name {
    color: whitesmoke;
    text-decoration: none;
}

.story__user-name:hover {
    color: #9b9b9b; 
}

.newstory-button {
    padding: 5px 30px;
    background-color: whitesmoke;
    color: #ffffff;
    border-radius: 15px;
    font-weight: bold;
    font-size: medium;
    max-width: 150px;
    margin: 0 auto 60px auto;
    background-color: rgb(160, 5, 231);
}

.newstory-button:hover {
    background-color: rgb(115, 0, 168);;
}

.logout-button:hover {
    background-color: rgb(156, 32, 32);
}

.load-button {
    padding: 5px 20px;
    background-color: rgba(245, 245, 245, 0);
    color: #ffffff;
    border-radius: 15px;
    font-weight: bold;
    font-size: medium;
    max-width: fit-content;
    margin: 0 auto 20px auto;
    text-align: center;
    border: 2px solid whitesmoke;
}

.load-button:hover {
    background-color: #353f4d;
    border: 2px solid rgb(150, 150, 150);
}

.feed-selector {
    margin: 15px 5px -10px 5px;
}

@media screen and (max-width: 530px) {
    .introduction__box-2 {
        flex-direction: column;
    }

}

.feed-selector__container {
    max-width: 400px;
    margin: 30px auto 30px auto;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}

.feed-selector__title {
    font-size: xx-large;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    cursor: default;
    font-weight: bolder;
    border-bottom: 3px solid #282e35;
}

.feed-selector__options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.feed-selector__options-item {
    text-decoration: none;
    color: whitesmoke;
    font-weight:400;
}

.feed-selector__options-item:hover {
    color: rgb(18, 207, 97);
    font-weight: bold;
    text-decoration: underline;
}

.feed-selector__options-item-active {
    color: rgb(18, 207, 97); 
    font-weight: bold;
    cursor: default;
}

@media screen and (max-width: 445px) {
    .feed-selector__options-container {
        flex-direction: column;
    }

    .feed-selector__options-item-container  {
        margin-bottom: 10px;
    }
}


/* ---------- Main ----------- */

.main {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    margin: 25px auto 50px auto;
    justify-content: space-between;
    padding: 10px;
}

.story {
    flex-grow: 1;
}

.story__article {
    padding: 15px 15px;
    margin-bottom: 35px;
    border-radius: 5px;
    border: 2px dashed #313d4d;
    cursor: pointer;
    transition: all 0s;
}

.story__article:hover {
    border: 2px solid #29313b;
    box-shadow: 0 0 10px 0 #3c4755;
}

.story__content {
    text-align: left;
    margin: 2px 0;
}

.story__username-date {
    margin: 0 0 0 12px;
}

.story__title-container {
    background-color: bisque;
    padding: 2px;
    justify-content: left;
    border-radius: 5px;
    margin-bottom: 8px;
    width: 100%;
    word-wrap: break-word;
    hyphens: auto;
}

.story__title {
    padding: 2px 8px;
    border-radius: 5px;
    color: #2d3441;
    margin: 0px 0px;
    font-size: large;
    word-wrap: break-word;
    hyphens: auto;
}

.story__upper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    width: 100%;
}

.story__user-container {
    padding: 6px 0px;
    display: flex;
    flex-direction: row;
}

.story__user-img-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.story__user-img {
    width: 55px;
    height: auto;
    border-radius: 100%;
    border: 2px solid whitesmoke;
    margin-bottom: 2px;
}

.story__user-info-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 5px;
    width: fit-content;
    hyphens: auto;
    justify-content: space-between;
}

.story__user-comment {
    margin-top: 0px;
    font-weight: bold;
    color: black;
    background-color: #faf8f8;
    padding: 5px 10px;
    border-radius: 15px 15px 15px 0;
    text-align: left;
    word-wrap: break-word;
    hyphens: auto;
    width: auto;
}

.story__username {
    margin: 5px 0px;
}

.story__user-tags {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
}

.story__tag {
    border-radius: 15px;
    padding: 1px 8px;
    color: white;
    opacity: 0.8;
    margin-right: 5px;
}

.oops-feed {
    text-align: center;
    font-style: italic;
    margin: 0;
    margin: auto;
}

/*
@media screen and (max-width: 400px) {
    .story__upper {
        flex-direction: column;
        align-items: flex-start;
    }
    
  }
*/

/* ---------- Forms ---------- */

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
    border: 2px solid #313d4d;
    caret-color: white;
    color: whitesmoke;
    
}

.register-form {
    margin: auto;
}

.register-form__box {
    padding-bottom: 2px;
}

.register-form__login {
    text-align: center;
}

.register-form__login-url {
    text-decoration: none;
    color: orange;
    font-size: 17px;
}

.register-form__login-url:hover {
    color: rgb(168, 109, 0);
}

.login-form {
    margin: auto;
}

.login-form__box {
    padding-bottom: 2px;
}

.login-form__title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.login-form__title {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    cursor: default;
}

.login-form__error-container {
    display: flex;
    justify-content: center;
}

.login-form__spacer {
    padding: 5px;
}

.login-form__error-message {
    padding: 5px;
    background-color: red;
    border-radius: 5px;
    color: #ffffff;
    margin: 2px auto 0 auto;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 0 10px 0 #323b47;
    cursor: default;
}

.error-green {
    background-color: rgb(52, 184, 0);
}

label[for="email"] {
    font-weight: 500;
    font-size:large;
}

label[for="username"] {
    font-weight: 500;
    font-size:large;
}

label[for="password"] {
    font-weight: 500;
    font-size:large;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 100px;

}

input[type="text"], input[type="password"], input[type="textarea"] {
    
    color: whitesmoke;
    font-size: 14px;
    font-family: inherit;
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    background-color: #445061;
    border: 2px dashed #313d4d;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 4px;
    margin-bottom: 12px;
    transition: all 0.2s;
}

input[type="text"]:focus, input[type="password"]:focus {
    background-color: #4b5461;
    color: whitesmoke;
    border: 2px solid #313d4d;
    box-shadow: 0 0 10px 0 #37414e;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
    
    color: rgb(170, 170, 170);

}

input[type="submit"] {
    font-size: large;
    font-weight: bold;
    font-family: inherit;
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    background-color: #445061;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    margin: 200px 0;
    margin-top: 4px;
    margin-bottom: 12px;
    background-color: bisque;
    color: #445061;
    cursor: pointer;
    transition: all 0.1s;
}

input[type="submit"]:hover {
    background-color: rgb(221, 165, 96);
}


.newstory-form__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    padding-bottom: 0px;
}

#newstory_title {
    width: 95.2%;
    padding: 0 10px;
}

.newstory_content {
    width: 95.2%;
    height: 100px;
    color: whitesmoke;
    font-size: 14px;
    font-family: inherit;
    margin-bottom: 10px;
    background-color: #445061;
    border: 2px dashed #313d4d;
    border-radius: 5px;
    padding: 5px 10px 10px 10px;
    margin-top: 4px;
    margin-bottom: 12px;
    transition: all 0.2s;
    resize: none;
    box-sizing: content-box;
}

.newstory_content::placeholder {
    color: rgb(170, 170, 170);
}

.newstory_content:focus {
    background-color: #4b5461;
    color: whitesmoke;
    border: 2px solid #313d4d;
    box-shadow: 0 0 10px 0 #37414e;
}

.newstory_comment {
    width: 95.2%;
    height: 37px;
    color: whitesmoke;
    font-size: 14px;
    font-family: inherit;
    margin-bottom: 10px;
    background-color: #445061;
    border: 2px dashed #313d4d;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin-top: 4px;
    margin-bottom: 12px;
    transition: all 0.2s;
    resize: none;
    box-sizing: content-box;
}

.newstory_comment::placeholder {
    color: rgb(170, 170, 170);
}

.newstory_comment:focus {
    background-color: #4b5461;
    color: whitesmoke;
    border: 2px solid #313d4d;
    box-shadow: 0 0 10px 0 #37414e;
}

.newstory_preview {
    width: 95.2%;
    height: 73px;
    color: whitesmoke;
    font-size: 14px;
    font-family: inherit;
    margin-bottom: 10px;
    background-color: #445061;
    border: 2px dashed #313d4d;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin-top: 4px;
    margin-bottom: 12px;
    transition: all 0.2s;
    resize: none;
    box-sizing: content-box;
}

.newstory_preview::placeholder {
    color: rgb(170, 170, 170);
}

.newstory_preview:focus {
    background-color: #4b5461;
    color: whitesmoke;
    border: 2px solid #313d4d;
    box-shadow: 0 0 10px 0 #37414e;
}


#newstory_submit {
    justify-self: right;
    align-items: right;
    width: 100%;
    padding: 0 10px 0 0;
}

.newstory-help {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.newstory-help__url {
    text-decoration: none;
    font-size: 17px;
    color: orange;
    
}

.newstory-help__url:hover {
    color: rgb(168, 109, 0);
}

/* ---------- 404 ---------- */

.error {
    margin: 0 100px 0 100px;
    display: flex;
}


.error__box{
    margin: 50px 250px 100px 250px;
    padding: 10px 10px;
    color: aliceblue;
    background-color: #445061;
    display: flex;
    justify-content: center;
    font-size: 50px;
    border: 3px dashed #37414e;
}

.error__home { 
    text-decoration: underline;
    color:rgb(255, 220, 64);
    transition: all 0s;
}

.error__home:hover { 
    text-decoration: underline;
    color:rgb(255, 179, 64);
}

/* --------- Footer ---------- */

.footer {
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #262d36;
    border-top: 3px dashed black;
}

.footer__social-media-link {
    color: white;
    text-decoration: none;
}

.footer__social-media:hover {
    text-decoration: underline;
}

@media screen and (max-width: 620px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }
    .footer__social-media {
        margin-top: 15px;
    }
  }


/* ----------- GLOBAL SELECTORS -------------*/

.cur-def{
    cursor: default;
}

.cur-pnt {
    cursor: pointer;
}

.no-dec {
    text-decoration: none;
}

.lower {
    color: #a1a1a1;
}

.lower-2 {
    color: #4d4d4d;
}

.admin {
    color: rgb(255, 116, 116);
}

.yellow {
    color: yellow;
}

.test {
    margin: auto;
}

.spacer2 {
    padding: 6px;
}

.text-bold {
    font-weight: bolder;

}

.flex-column {
    display: flex;
    flex-direction: column;
}

.text-normal {
    font-style: normal;
}

.no-bg {
    background-color: rgba(255, 255, 255, 0);
}

.white-border {
    border: 2px solid whitesmoke;

}
