{% extends "base.html" %}
{% block content %}
<header class="navbar">
    <div class="navbar__logo">
        <img class="navbar__name" src="/static/img/logo2.png" alt="Logo" width="75">Storymous
    </div>
    <ul class="navbar__navigation">

        {% if user_logged %}
        <li class="navbar__navigation-item"><a href="{{url_for('home')}}" class="navbar__link ">home</a></li>
        <li class="navbar__navigation-item"><a href="{{url_for('auth.profile')}}" class="navbar__link ">profile</a></li>
        <li class="navbar__navigation-item"><a href="{{url_for('about')}}" class="navbar__link " style="color:rgb(255, 220, 64);">about</a></li>
        {% else %}
        <li class="navbar__navigation-item"><a href="{{url_for('home')}}" class="navbar__link ">home</a></li>
        <li class="navbar__navigation-item"><a href="{{url_for('auth.login')}}" class="navbar__link ">log_in</a></li>
        <li class="navbar__navigation-item"><a href="{{url_for('about')}}" class="navbar__link " style="color:rgb(255, 220, 64);">about</a></li>
        {% endif %}

    </ul>
</header>
<main class="main">
    <section>
        
    </section>
</main>
{% endblock %}