{% extends "base.html" %}
{% block content %}
<header class="navbar">
    <div class="navbar__logo">
        <img class="navbar__name" src="/static/img/logo2.png" alt="Logo" width="75">Storymous
    </div>
    <ul class="navbar__navigation">
        <li class="navbar__navigation-item"><a href="#" class="navbar__link ">account</a></li>
        <li class="navbar__navigation-item"><a href="{{url_for('stats')}}" class="navbar__link ">stats</a></li>
        <li class="navbar__navigation-item"><a href="{{url_for('about')}}" class="navbar__link ">about</a></li>
        <li class="navbar__navigation-item"><a href="#" class="navbar__link ">login</a></li>
        <li class="navbar__navigation-item"><a href="#" class="navbar__link ">logout</a></li>
    </ul>
</header>
<main class="main">
    <section>
        <article class="randomstory">
            <div class="randomstory__remaining-time">2:00</div>
            <div class="randomstory__upper">
                <h2 class="randomstory__title"> This is an example title</h2>
                <time class="randomstory__date" datetime="21-04-2023"> Apr 4</time>
            </div>
            <p class="randomstory__content">
                This is a story example of an old tree called pollancre, and this rest of the text is complete filler, just to test how it would look to have a longer story displayed here... hehehe!
            </p>
        </article>
    </section>
</main>
{% endblock %}