<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Storymous</title>
    
</head>
<body class="scrollbar">
    <div class="base">
        <div class="base__aligner">
            <header class="navbar">
                <div class="navbar__page">
                    <img class="navbar__img" src="/static/img/logo.png" alt="Logo" width="75">
                    <div class="navbar__title-full">
                        <div class="navbar__title">Storymous</div>
                        <div class="navbar__subtitle">Write interactive fiction together</div>
                    </div>
                </div>
            
        {% block content %}

        {% endblock %}

    <footer class="footer">
        <div class="footer__author">
            Made by Aleix Fort
        </div>
        <div class="footer__social-media">
            <a href="#" class="footer__social-media-link">About me</a> 
        </div>
    </footer>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>