{% extends "base.html" %}
{% block content %}
                <ul class="navbar__navigation">

                    {% if user_logged %}
                    <li class="navbar__navigation-item"><a href="{{url_for('home')}}" class="navbar__link " style="color:rgb(255, 220, 64);">home</a></li>
                    <li class="navbar__navigation-item"><a href="{{url_for('auth.user')}}" class="navbar__link ">profile</a></li>
                    <li class="navbar__navigation-item"><a href="{{url_for('auth.logout')}}" class="navbar__link ">log_out</a></li>
                    {% else %}
                    <li class="navbar__navigation-item"><a href="{{url_for('home')}}" class="navbar__link " style="color:rgb(255, 220, 64);">home</a></li>
                    <li class="navbar__navigation-item"><a href="{{url_for('auth.login')}}" class="navbar__link ">sign_in</a></li>
                    <li class="navbar__navigation-item"><a href="{{url_for('about')}}" class="navbar__link ">about</a></li>
                    {% endif %}

                </ul>
            </header>
        </div>
<div class="introduction">

    {% if user_logged %}
    <div class="introduction__box">
        <div class="introduction__text-box">
            <div class="introduction__text-text">
                <h1>Welcome back, <span class="introduction__user"><br>{{ user }}</span>. <br> <!--USER MAX 20CHAR-->
                <h2>Amazing stories await</h2></h1>
                <h4>Need a reminder? <a href="{{ url_for('about') }}" class="introduction__about"> <br> 
                    Learn how storymous works</a></h4>
            </div>
        </div>

    {% else %}
    <div class="introduction__box-2">
        <div class="introduction__text-2">
            <h1>Welcome to <span class="introduction__user-title">Storymous</span>!<br>
            <h2> <a href="{{ url_for('auth.login') }}" class="introduction__signin">Sign in</a> to start creating,<br>
            or browse anonymously. </h2></h1>
            <h4>New around here? <a href="{{ url_for('about') }}" class="introduction__about"> <br> 
                Learn how storymous works</a></h4>
        </div>
    {% endif %}
        
        {% if user_logged %}
        <div class="introduction__text-box">
            <div class="introduction__text-stats">
                <div class="introduction__text-stats-title-container">
                    <div class="introduction__text-stats-title">{{ user }}</div>
                </div>
                <img src="./static/img/default.png" alt="profile_img" class="introduction__text-stats-img">
                <div class="introduction__text-stats-text">
                    Stories <b>0</b><br>
                    Replies <b>0</b>
                </div>
            </div> 
        </div>
        {% endif %}
        
    </div>
</div>
<div class="feed-selector"></div>
<main class="main">
    <section class="randomstory">

        {% for story in stories %}
        <article class="randomstory__article">
            <!-- 
            <div class="randomstory__time">
                <div class="randomstory__remaining-time">Next story in 2:00</div>
            </div>
            -->
            <div class="randomstory__upper">
                <h2 class="randomstory__title"> {{ story["title"] }} </h2>
                <time class="randomstory__date" datetime="21-04-2023"> {{ story["date"] }} </time>
            </div>
            <p class="randomstory__content">
                {{ story["story"] }}
            </p>
        </article>
        {% endfor %}

    </section>
</main>
{% endblock %}