{% extends "base.html" %}
{% block content %}
                <ul class="navbar__navigation">

                    {% if user_logged %}
                    <li class="navbar__navigation-item"><a href="{{url_for('home.home')}}" class="navbar__link " style="color:rgb(255, 220, 64);">home</a></li>
                    <li class="navbar__navigation-item"><a href="{{url_for('users.user')}}" class="navbar__link ">profile</a></li>
                    <li class="navbar__navigation-item"><a href="{{url_for('home.about')}}" class="navbar__link ">about</a></li>
                    {% else %}
                    <li class="navbar__navigation-item"><a href="{{url_for('home.home')}}" class="navbar__link " style="color:rgb(255, 220, 64);">home</a></li>
                    <li class="navbar__navigation-item"><a href="{{url_for('auth.login')}}" class="navbar__link ">sign_in</a></li>
                    <li class="navbar__navigation-item"><a href="{{url_for('home.about')}}" class="navbar__link ">about</a></li>
                    {% endif %}

                </ul>
            </header>
        </div>

        {% if error_message %}
        <div class="login-form__error-container">
            <div class="login-form__error-message">
                {{ error_message }}
            </div>
        </div>
        {% endif %}

        {% if message %}
        <div class="login-form__error-container">
            <div class="login-form__error-message error-green">
                {{ message }}
            </div>
        </div>
        {% endif %}

<div class="introduction">

    {% if user_logged %}
    <div class="introduction__box">
        <div class="introduction__text-box cur-def">
            <div class="introduction__text-text">
                <h1>Welcome back, <span class="introduction__user"><br>{{ user }}</span>. <br> <!--USER MAX 20CHAR-->
                <h2 style="word-wrap: break-word;">Amazing stories<br>await!</h2></h1>
                <h4>Need a reminder? <a href="{{ url_for('home.about') }}" class="introduction__about no-dec"> <br> 
                    Learn how storymous works</a></h4>
            </div>
        </div>
    {% else %}
    <div class="introduction__box-2">
        <div class="introduction__text-2">
            <h1>Welcome to <span class="introduction__user-title"><br>Storymous</span>!<br>
            <h4>New around here? <a href="{{ url_for('home.about') }}" class="introduction__about"> <br> 
                Learn how storymous works</a></h4>
        </div>
        <div class="signup-buttons">
            <a href="{{ url_for('auth.login') }}" style="text-decoration: none;"><div class="login-home">Log In</div></a>
            <p><b>or</b></p>
            <a href="{{ url_for('auth.register') }}" style="text-decoration: none;"><div class="register-home">Register</div></a>
        </div>
    {% endif %}
        
        {% if user_logged %}
        <div class="spacer5"></div>
        <a href="{{ url_for('users.user', username=current_user.username)}}" style="text-decoration: none;">
            <div class="introduction__text-box-bis">
                <div class="introduction__text-stats">
                    <div class="introduction__text-stats-title-container">
                        <div class="introduction__text-stats-title"><span class="lower-2">@</span>{{ user }}</div>
                    </div>
                    <img src="{{ user_data['pic_path'] }}" alt="profile_img" class="introduction__text-stats-img">
                </div> 
            </div>
        </a>
        {% endif %}
    </div>
    {% if user_logged %}
    <a href="{{ url_for('posts.newstory')}}" style="text-decoration: none;"><div class="newstory-button">Write new story</div></a>
    {% endif %}
</div>

{% if feed == "templates" %}
{% include "./feeds/templates.html" %}

{% elif feed == "recent" %}
{% include "./feeds/recent.html" %}

{% elif feed == "following" %}
{% include "./feeds/following.html" %}

{% endif %}

{% endblock %}