{% extends "base.html" %}
{% block content %}
        <ul class="navbar__navigation">
            <li class="navbar__navigation-item"><a href="{{url_for('home')}}" class="navbar__link " >home</a></li>
            <li class="navbar__navigation-item"><a href="{{url_for('auth.login')}}" class="navbar__link " style="color:rgb(255, 220, 64);">sign_in</a></li>
            <li class="navbar__navigation-item"><a href="{{url_for('about')}}" class="navbar__link ">about</a></li>
        </ul>
    </header>
    <main class="main">
        <div class="login-form">
            <div class="login-form__title-container">
                <span class="login-form__title">Log In</span>
            </div>
            {% if message %}
            <div class="login-form__error-container">
                <div class="login-form__error-message">
                    {{ message }}
                </div>
            </div>

            {% endif %}


            <form method="POST" action="{{ url_for('auth.login') }}" class="login-form__box">
                {{form.hidden_tag()}}
                {{form.user(placeholder="E-mail or username")}}
                {{form.password(placeholder="Password")}}
                {{form.submit()}}
            </form>
            <div class="login-form__register">
                Don't have an account yet? 
                <span class="login-form__spacer"></span>
                <a href=" {{url_for('auth.register') }}" class="login-form__register-url">Register</a>
            </div>



        </div>
    </main>
</div>
{% endblock %}