{% extends "base.html" %}
{% block content %}
<header class="navbar">
    <div class="navbar__logo">
        <img class="navbar__name" src="/static/img/logo2.png" alt="Logo" width="75">Storymous
    </div>
    <ul class="navbar__navigation">
        <li class="navbar__navigation-item"><a href="{{url_for('home')}}" class="navbar__link " >home</a></li>
        <li class="navbar__navigation-item"><a href="{{url_for('auth.login')}}" class="navbar__link " style="color:rgb(255, 220, 64);">log_in</a></li>
        <li class="navbar__navigation-item"><a href="{{url_for('auth.register')}}" class="navbar__link ">register</a></li>
        <li class="navbar__navigation-item"><a href="{{url_for('about')}}" class="navbar__link ">about</a></li>
    </ul>
</header>
<main class="main">
    <form method="POST" action="{{ url_for('auth.login') }}">
        {{form.hidden_tag()}}
        {{form.email.label}}{{form.email}}
        {{form.password.label}}{{form.password}}
        {{form.submit()}}
    </form>
</main>
{% endblock %}