{% extends "base.html" %}
{% block content %}
        <ul class="navbar__navigation">
            <li class="navbar__navigation-item"><a href="{{url_for('home.home')}}" class="navbar__link " >home</a></li>
            <li class="navbar__navigation-item"><a href="{{url_for('posts.user')}}" class="navbar__link ">profile</a></li>
            <li class="navbar__navigation-item"><a href="{{url_for('home.about')}}" class="navbar__link ">about</a></li>
        </ul>
    </header>
    <main class="main" style="flex-direction: column;">
        <div class="oops-feed"></div> 
        <div>
            <div class="story__user-container">
                <div class="story__user-img-container">
                    <a href="{{ url_for('posts.user', username=story['username']) }}" style="color: inherit; text-decoration: none;">
                        <img src="{{ owner['pic_path'] }}" alt="Profile picture" class="story__user-img">
                    </a>
                </div> 
                <div class="story__user-info-container">
                    <div class="story__user-comment-container"><div class="story__user-comment cur-def"> {{story["post_comment"] }} </div></div>
                    <div class="story__username cur-pnt""> 
                        <a href="{{ url_for('posts.user', username=story['username']) }}" style="color: inherit; text-decoration: none;">
                            <span class="lower"><b>@</b></span><b class="story__user-name">{{ story["username"] }}</b>
                            <span class="story__username-date lower">{{ story["date"] }}</span>
                        </a>
                    </div>
                </div>
            </div>
            <article class="story__article post__story cur-def">    
                <div class="story__upper">
                    <div class="story__title-container">
                        <h2 class="story__title"> {{ story["title"] }} </h2>
                    </div>
                </div>
                <p class="story__content">
                    {{ story["content"] }}
                </p>
            </article>
        </div>
<!-- SHOULD IMPLEMENT COMMENT WRITING HERE RIGHT BELOW THE POST -->
        <form method="POST" action="{{ url_for('posts.post', post_id=story['_id']) }}" class="content-form__box">
            {{form.hidden_tag()}}
            {{form.comment_content(placeholder="Write a comment")}}
            {{form.comment_submit()}}
        </form>
<!-- END OF IMPLEMENTATION HERE-->
        {% if comments %}
            {% for comment in comments %}
                    <div>
                        <div class="comment__user-container">
                            <div><img src="/static/img/reply_icon.png" alt="reply icon" style="max-width: 25px; margin: 0 0px 0 0px; transform: scaleX(-1); "></div>
                            <div class="comment__user-img-container">
                                
                                <a href="{{ url_for('posts.user', username=comment['username']) }}" style="color: inherit; text-decoration: none;">
                                    <img src="{{ comment['pic_path'] }}" alt="Profile picture" class="comment__user-img">
                                </a>
                            </div> 
                            <div class="story__user-info-container">
                                
                                <div class="comment__username cur-pnt""> 
                                    <a href="{{ url_for('posts.user', username=comment['username']) }}" style="color: inherit; text-decoration: none;">
                                        <span class="lower"><b>@</b></span><b class="story__user-name">{{ comment["username"] }}</b>
                                        <span class="comment__username-date lower">{{ comment["date"] }}</span>
                                    </a>
                                </div>
                                <div class="comment__user-comment-container"><div class="comment__user-comment cur-def"> {{ comment["content"] }} </div></div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
    </main>
</div>
{% endblock %}
