{% extends "base.html" %}
{% block content %}
        <ul class="navbar__navigation">
            <li class="navbar__navigation-item"><a href="{{url_for('home.home')}}" class="navbar__link " >home</a></li>
            <li class="navbar__navigation-item"><a href="{{url_for('posts.user')}}" class="navbar__link ">profile</a></li>
            <li class="navbar__navigation-item"><a href="{{url_for('auth.logout')}}" class="navbar__link ">settings</a></li>
        </ul>
    </header>
    <main class="main" style="flex-direction: column;">
        <div class="oops-feed"></div> 
        <section class="story">
            
                <article class="story__article">
                    <div class="story__upper">
                        <h2 class="story__title"> {{ story["title"] }} </h2>
                        <!--<time class="story__date" datetime="21-04-2023"> NoDateYet </time>-->
                    </div>
                    <p class="story__content">
                        {{ story["content"] }}
                    </p>
                </article>

        </section>
    </main>
</div>
{% endblock %}

<main class="main">
    
</main>