{% extends "base.html" %}
{% block content %}
        <ul class="navbar__navigation">
            <li class="navbar__navigation-item"><a href="{{url_for('home.home')}}" class="navbar__link " >home</a></li>
            {% if admin_rights %}
            <li class="navbar__navigation-item"><a href="{{url_for('users.user')}}" class="navbar__link " style="color:rgb(255, 220, 64);">profile</a></li>
            {% else %}
            <li class="navbar__navigation-item"><a href="{{url_for('users.user')}}" class="navbar__link " >profile</a></li>
            {% endif %}
            <li class="navbar__navigation-item"><a href="{{url_for('home.about')}}" class="navbar__link ">about</a></li>
        </ul>
    </header>
    
        <!--<div class="oops-feed"> -- Work in progress - section not finished! -- </div> -->

        <div class="introduction__text-box cur-def">
            <div class="introduction__text-stats">
                <div class="introduction__text-stats-title-container">
                    <div class="introduction__text-stats-title"><span class="lower-2">@</span>{{ username }}</div>
                </div>
                <img src="{{ pic_path }}" alt="profile_img" class="introduction__text-stats-img">
            </div>
            <div class="introduction__profile-stats">
                <div class="profile__stats-section">
                    <h3 class="stats__account-title">Account</h3>
                    <div class="stats__account-container">
                        <div class="container3">
                            <h5 class="stats__part1">Followers</h5>
                            <h5 class="stats__part2 lower">0</h5>
                        </div>
                        <div class="container3">
                            <h5 class="stats__part1">Following</h5>
                            <h5 class="stats__part2 lower">{{ n_friends }}</h5>
                        </div>
                        <!--
                        <div class="container3">
                            <h5 class="stats__part1">Created</h5>
                            <h5 class="stats__part2 lower">Apr 23</h5>
                        </div>
                        -->
                    </div>
                </div>
                <div class="profile__stats-section">
                    <h3 class="stats__account-title">Stories</h3>
                    <div class="stats__account-container">
                        <div class="container3" style="margin: 0 0 0 0">
                            <h5 class="stats__part1">Started</h5>
                            <h5 class="stats__part2 lower">{{ n_writ_posts }}</h5>
                        </div>

                        <div class="container3">
                            <h5 class="stats__part1">Continued</h5>
                            <h5 class="stats__part2 lower">{{ n_contr_posts }}</h5>
                        </div>

                        <div class="container3">
                            <h5 class="stats__part1">Comments</h5>
                            <h5 class="stats__part2 lower">2</h5>
                        </div>
                    </div>
                </div>
                {% if admin_rights %}
                <a href="{{ url_for('users.settings') }}" style="text-decoration: none;"><div class="edit-profile">User settings</div></a>
                {% endif %}
            </div>
        </div>
        {% if admin_rights %}
        <a href="{{ url_for('auth.logout')}}" style="text-decoration: none;"><div class="logout-button">Log Out</div></a>
        {% endif %}
    <main class="main" style="flex-direction: column;">
        <div class="feed-selector">
            <div class="feed-selector__container">
                {% if admin_rights %}
                <div class="feed-selector__title">Your posts</div>
                {% else %}
                <div class="feed-selector__title">{{ username }}'s posts</div>
                {% endif %}
            </div>
        </div>
        <section class="story">
            {% if stories %}
                {% for story in stories %}
                <div>
                    <div class="story__user-container">
                        <div class="story__user-img-container">
                            <a href="{{ url_for('users.user', username=story['username']) }}" style="color: inherit; text-decoration: none;">
                                <img src="{{ pic_path }}" alt="Profile picture" class="story__user-img">
                            </a>
                        </div> 
                        <div class="story__user-info-container">
                            <div class="story__user-comment-container"><div class="story__user-comment cur-def"> {{ story["post_comment"] }} </div></div>
                            <div class="story__username cur-pnt""> 
                                <a href="{{ url_for('users.user', username=story['username']) }}" style="color: inherit; text-decoration: none;">
                                    <span class="lower"><b>@</b></span><b class="story__user-name">{{ story["username"] }}</b>
                                </a>
                                    <span class="story__username-date lower cur-def">{{ story["date"] }}</span>
                                
                            </div>
                        </div>
                    </div>
                    <a href="{{ url_for('posts.post', post_id=story['_id']) }}" style="color: inherit; text-decoration: none;">
                        <article class="story__article">    
                            <div class="story__upper">
                                <div class="story__title-container">
                                    <h2 class="story__title"> {{ story["title"] }} </h2>
                                </div>
                            </div>
                            <p class="story__content">
                                {{ story["preview"]|safe }}
                                {% if story["extended_length"] %}
                                <b class="readmore-button"><em>Read more</em></b>
                                {% endif %}
                            </p>
                        </article>
                    </a>
                    <div class="post-icons-bar">
                        <div class="post-icons cur-def">
                            <a href="{{ url_for('posts.post', post_id=story['_id']) }}" style="text-decoration: none; color: none">
                            <div class="post-icon-bg">
                                <img src="/static/img/plus_icon3.png" alt="continued-stories" class="icon-plus">
                                <div class="lower2">0</div>
                            </div>
                            </a>
                            <div class="separator6"></div>
                            <a href="{{ url_for('posts.post', post_id=story['_id']) }}" style="text-decoration: none; color: none">
                            <div class="post-icon-bg">
                                
                                    <img src="/static/img/comment_icon3.png" alt="comments" class="icon-comment">
                                    <div class="lower2">{{ story["n_comments"]}}</div>
                               
                            </div>
                            </a>
                            <div class="separator7"></div>
                            <div class="post-icon-bg">
                                <img src="/static/img/visits_icon3.png" alt="times-visited" class="icon-eye pad-left-null">
                                <div class="lower2">{{ story["visits"] }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="marg-bot-post"></div>
                </div>
                {% endfor %}
            {% else %}
            <p class="oops-feed">Oh... Looks like you have not posted anything... yet!</p>
            {% endif %}
        </section>
    </main>
</div>
{% endblock %}

<main class="main">
    
</main>