{% extends "base.html" %}
{% block content %}
        <ul class="navbar__navigation">
            <li class="navbar__navigation-item"><a href="{{url_for('home.home')}}" class="navbar__link " >home</a></li>
            <li class="navbar__navigation-item"><a href="{{url_for('auth.user')}}" class="navbar__link " style="color:rgb(255, 220, 64);">sign_in</a></li>
            <li class="navbar__navigation-item"><a href="{{url_for('home.about')}}" class="navbar__link ">about</a></li>
        </ul>
    </header>
    <main class="main">
        <div class="register-form">
            <div class="login-form__title-container">
                <span class="login-form__title">New account</span>
            </div>

            {% if message %}
            <div class="login-form__error-container">
                <div class="login-form__error-message">
                    {{ message }}
                </div>
            </div>
            {% endif %}
            
            <form method="POST" action="{{ url_for('auth.register') }}" class="register-form__box">
                {{form.hidden_tag()}}
                {{form.email (placeholder="Your e-mail")}}
                {{form.username(placeholder="Choose a username")}}
                {{form.password(placeholder="Password")}}
                {{form.pass_confirm(placeholder="Repeat password")}}
                {{form.submit()}}
            </form>
            <div class="register-form__login">
                Have an account already? <a href=" {{url_for('auth.login') }}" class="register-form__login-url">Log in</a>
            </div>
        </div>
    </main>
</div>
{% endblock %}